<template lang="pug">
  v-container
    v-layout.mt-4.mb-4
      v-flex(
        xs12
        sm8
        md6
        offset-sm2
        offset-md3
      )
        v-stepper(
          v-model='currentStep'
          vertical
        )
          v-card
            v-card-text
              h1.headline Negotiation App
              span.grey--text Developed by Cali Rojas, Costa Rica
          v-stepper-step(
            step='1'
            :complete='currentStep > 1'
          ) Employer's Offer
          v-stepper-content(
            step='1'
          )
            v-card
              v-card-text
                p.
                  Please, enter the <strong>maximum salary offered by the employer</strong> for this position:
              v-form#employersForm(
                v-model='employer.formIsValid'
                ref='employersForm'
                @submit.prevent='submitEmployer'
              )
                v-text-field(
                  label='Maximum salary offer'
                  v-model='employer.amount'
                  required
                  prepend-icon='attach_money'
                  mask='##########'
                  :rules='numberRules'
                  autofocus
                )
                .text-xs-right
                  v-btn(
                    type='submit'
                    color='red'
                    dark
                    large
                    :disabled='currentStep != 1'
                  ) Next step
                    v-icon(
                      right
                    ) arrow_forward
          v-stepper-step(
            step='2'
            :complete='currentStep > 2'
          ) Employee's Salary
          v-stepper-content(
            step='2'
          )
            v-card
              v-card-text
                p.
                  Please, enter the <strong>minimum salary accepted by the employee</strong> for this position:
              v-form#employeesForm(
                v-model='employee.formIsValid'
                ref='employeesForm'
                @submit.prevent='submitEmployee'
              )
                v-text-field(
                  label='Minimum salary accepted'
                  v-model='employee.amount'
                  required
                  prepend-icon='attach_money'
                  mask='##########'
                  :rules='numberRules'
                )
                .text-xs-right
                  v-btn(
                    type='submit'
                    color='red'
                    dark
                    large
                    :disabled='currentStep != 2'
                  ) Show result
                    v-icon(
                      right
                    ) arrow_forward
          v-stepper-step(
            step='3'
            :complete='currentStep > 2'
          ) Final Result
          v-stepper-content(
            step='3'
          )
            v-card
              v-card-text.pa-0
                v-alert(
                  :type="isSuccess ? 'success' : 'error'"
                  :value='true'
                  outline
                )
                  p.headline(v-if='isSuccess') Success!
                  p.headline(v-else) Failure!
                  p.mb-0 Maximum offer was: ${{employer.amount}}
                  p Minimum expected salary was: ${{employee.amount}}

                  .text-xs-right
                    v-btn.ml-0(
                      @click='currentStep = 1'
                      large
                    ) Start again

</template>

<script>
  export default {
    data () {
      return {
        currentStep: 0,
        employer: {
          formIsValid: false,
          amount: null
        },
        employee: {
          formIsValid: false,
          amount: null
        },
        numberRules: [
          v => !!v || 'This field is required',
          v => v > 0 || 'The value should be greater than 0'
        ]
      }
    },
    computed: {
      isSuccess () {
        return parseInt(this.employee.amount) <= parseInt(this.employer.amount)
      }
    },
    methods: {
      submitEmployer () {
        if (this.$refs.employersForm.validate()) {
          this.currentStep++
        }
      },
      submitEmployee () {
        if (this.$refs.employeesForm.validate()) {
          this.currentStep++
        }
      }
    }
  }
</script>