<template lang="pug">
  v-dialog(
    v-model='isVisible'
    max-width='500'
    persistent
  )
    v-card
      v-card-text
        h3.headline Hello, sennder GmbH!
        v-divider.mb-4
        p.
          Welcome to my <strong>Negotiation App</strong>. These are some of the technologies used
          in development: {{technologies.join(', ')}}.
      v-card-actions
        v-spacer
        v-btn(
          color='red'
          @click='closeModal'
          large
        ) Continue
          v-icon(
            right
          ) arrow_forward
</template>

<script>
  export default {
    data () {
      return {
        isVisible: true,
        technologies: [
          'Webpack',
          'CSS',
          'Vue.js',
          'Vuetify',
          'Karma',
          'GitLab',
          'Pug'
        ]
      }
    },
    methods: {
      closeModal () {
        this.isVisible = false
        this.$emit('modal-closed')
      }
    }
  }
</script>
