<template lang="pug">
  v-app(dark)
    v-content
      modal-component(
        @modal-closed='showPageContents = true'
      )
      demo-component(
        v-show='showPageContents'
      )
</template>

<script>
  import DemoComponent from '@/components/DemoComponent'
  import ModalComponent from '@/components/ModalComponent'

  export default {
    name: 'App',
    components: {
      DemoComponent,
      ModalComponent
    },
    data () {
      return {
        showPageContents: false
      }
    }
  }
</script>

<style>
  .application.theme--dark{
    background: url('/static/img/wood.jpg');
  }
</style>
